@import "../css/mixins";

.title_wrapper {
	@include md {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
}

.poster {
	margin-bottom: 60px;
	min-height: 136px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include md {
		width: 13%;
		margin: 0;
	}

	p {
		@include sm {
			text-align: center;
			font-size: 1.6rem;
		}
	}

	img {
		width: 100%;
		background: #8d8d8d;
	}
}